
.backdrop {
  position:   fixed;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  background: $backdrop-bg;
}

.alert {
  display:        flex;
  flex-direction: column;
  position:       fixed;
  top:            $alert-top;
  margin:         $alert-margin;
  left:           0;
  right:          0;
  align-self:     center;
  justify-self:   center;

  max-width:      $alert-max-width;
  width:          $alert-width;
  background:     $alert-background;
  border:         $alert-border;
  border-radius:  $alert-border-radius;
}

.button-close {
  position:  absolute;
  top:       0;
  right:     $btn-close-right;
  font-size: $btn-close-font-size;
  color:     $btn-close-color;
  cursor:    pointer;
  &:hover {
    color:       $btn-close-hover-color;
    text-shadow: $btn-close-hover-shadow;
  }
}

.icon-container {
  text-align: center;
  .alert-icon {
    width:   $icon-width;
    display: inline-block;
  }
}

.caption {
  text-align: $caption-align;
  font-size:  $caption-size;
}

.buttons-container {
  display:   flex;
  flex-wrap: wrap;
  margin:    $buttons-margin;

  .btn {
    flex:   1;
    margin: $button-margin;
  }
}

