/*
 * Backdrop
 */
$backdrop-bg: rgba(0, 0, 0, 0.5) !default;

/*
 * Alert
 */
$alert-max-width:     400px !default;
$alert-width:         90% !default;
$alert-background:    #f5f2f0 !default;
$alert-border:        1px solid transparent !default;
$alert-border-radius: 0.25rem !default;
$border-radius: 3px;

/*
 * Caption
 */
$caption-size: 2.5rem !default;

